name:                              Compilation and Testing Suite

on:
  pull_request:
  push:
    branches:
      - master
    tags:
      - v*
    paths-ignore:
      - 'README.md'
jobs:

  check-test-build:
    name:                          Check, test and build
    runs-on:                       ubuntu-latest
    env:
      RUST_BACKTRACE:              full
    steps:
      - name:                      Cancel Previous Runs
        uses:                      styfle/cancel-workflow-action@bb6001c4ea612bf59c3abfc4756fbceee4f870c7 # 0.10.0
        with:
          access_token:            ${{ github.token }}
      - name:                      Checkout sources & submodules
        uses:                      actions/checkout@v3
        with:
          fetch-depth:             5
          submodules:              recursive
## Check Stage
      - name:                      Checking rust-stable
        uses:                      actions-rs/cargo@v1
        with:
          command:                 check
          toolchain:               stable
          args:                    --all  --verbose

## Test Stage
      - name:                      Testing rust-stable
        uses:                      actions-rs/cargo@v1
        with:
          command:                 test
          toolchain:               stable
          args:                    --all  --verbose

## Build Stage
      - name:                      Building rust-stable
        uses:                      actions-rs/cargo@v1
        if:                        github.ref == 'refs/heads/master'
        with:
          command:                 build
          toolchain:               stable
          args:                    --all --verbose

  check-wasm:
    name:                          Check WASM
    runs-on:                       ubuntu-latest
    env:
      RUST_BACKTRACE:              full
    steps:
      - name:                      Cancel Previous Runs
        uses:                      styfle/cancel-workflow-action@bb6001c4ea612bf59c3abfc4756fbceee4f870c7 # 0.10.0
        with:
          access_token:            ${{ github.token }}
      - name:                      Checkout sources & submodules
        uses:                      actions/checkout@v3
        with:
          fetch-depth:             5
          submodules:              recursive
      - name:                      Add WASM Utilities
        run:                       rustup target add wasm32-unknown-unknown --toolchain stable
## Check Stage
      - name:                      Checking wasm32 (v14)
        uses:                      actions-rs/cargo@v1
        uses:                      taiki-e/install-action@cargo-hack
        with:
          command:                 hack
          toolchain:               stable
          args:                    check --manifest-path ./frame-metadata/Cargo.toml --feature-powerset --no-dev-deps --features v14 --skip legacy,v8,v9,v10,v11,v12,v13 --depth 4 --target wasm32-unknown-unknown
      - name:                      Checking wasm32 (all features)
        uses:                      actions-rs/cargo@v1
        uses:                      taiki-e/install-action@cargo-hack
        with:
          command:                 hack
          toolchain:               stable
          args:                    check --manifest-path ./frame-metadata/Cargo.toml --feature-powerset --no-dev-deps --skip decode,serde_full --depth 4 --target wasm32-unknown-unknown

  check-features:
    name:                          Check Features
    runs-on:                       ubuntu-latest
    env:
      RUST_BACKTRACE:              full
    steps:
      - name:                      Cancel Previous Runs
        uses:                      styfle/cancel-workflow-action@bb6001c4ea612bf59c3abfc4756fbceee4f870c7 # 0.10.0
        with:
          access_token:            ${{ github.token }}
      - name:                      Checkout sources & submodules
        uses:                      actions/checkout@v3
        with:
          fetch-depth:             5
          submodules:              recursive
## Check Stage
      - name:                      Checking v14 feature combinations (native)
        uses:                      actions-rs/cargo@v1
        uses:                      taiki-e/install-action@cargo-hack
        with:
          command:                 hack
          toolchain:               stable
          args:                    check --manifest-path ./frame-metadata/Cargo.toml --feature-powerset --no-dev-deps --features v14 --skip legacy,v8,v9,v10,v11,v12,v13 --depth 4
      - name:                      Checking feature combinations excluding decode/serde_full (native)
        uses:                      actions-rs/cargo@v1
        uses:                      taiki-e/install-action@cargo-hack
        with:
          command:                 hack
          toolchain:               stable
          args:                    check --manifest-path ./frame-metadata/Cargo.toml --feature-powerset --no-dev-deps --skip decode,serde_full --depth 4
